body{
    background: rgb(228, 220, 207);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:black;
}
.about{
    color:maroon;
}
.skills{
    color:rgb(142, 104, 10);
}
.projects{
    color:maroon;
}
.contact{
    color:rgb(142, 104, 10);
}