body{
    background: rgb(228, 220, 207);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:black;
}
.about{
    color:maroon;
}
.skills{
    color:rgb(142, 104, 10);
}
.projects{
    color:maroon;
}
.contact{
    color:rgb(142, 104, 10);
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 40%;
margin: 20px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}
a { /* change the appearance of ALL links */
text-decoration: none;
color: purple;
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}




body {
	background:rgb(228, 220, 207);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:black;
	text-align: center;
}
.projects { 
	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
}
.project {
    /* form the section blobs */
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    /* rounded corners for the blobs */
    border-radius: 25%;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid black;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}




